.categories {
	display:block;
	padding:0;
	margin:0;
}

.categories li {
	display:block;
	width:100%;
}

.categories td, th {
	padding: 0.1em 0.5em;
	margin-left: 0;
	padding-left:0;
}

.categories th {
	border-bottom: solid 1px gray;
}

.categories input[type=text] {
	width:100%;
}

.category {
	padding:0;
	float:left;
	display:block;
	width:49%;
	margin:0;	
	clear: none;
}

.category input[type=text], 
.article input[type=text], 
.article input[type=checkbox]{
	width:100%;
	padding: 0.5em 0;
	margin: 0.25em 0;
	margin-bottom:0.5em;
}

.article input[type=checkbox] {
	width:auto;
	display:block;
}

.category textarea,
.category textarea {
	width:100%;
}

.article_list {
	float:right;
	display:block;
	padding-left:1em;
	width:45%;
	clear: none;
}

.article_list ul {
		list-style:none;	
		padding:0;
}

.article_list h2 {
	margin-bottom:0;
}

.article_list .show {
	color: green;
}
.article_list .hide {
	color: red;
}

.article_list .show:hover {
	color: red;
}
.article_list .hide:hover {
	color:green;	
}


.edited {
	background-color: #DFD;
}
