.categories {
	display:block;
	padding:0;
	margin:0;
}

.categories li {
	display:block;
	width:100%;
}


.categories {
	margin-bottom:0.5em;
}

.categories li,
.article_list li {
	display: block;
	
	padding: 1px;
	overflow: hidden;

	border-bottom:none;
}


.categories li input[type=text]{
	width:17%;	
}

.categories li input,
.categories li a,
.article_list li a{
	float: left;	
	margin-right: 8px;
	padding:4px;

}

.article_list li:hover {
	background-color: #FEE;
}

.article_list ul {
	list-style:none;	
	padding:0;
}

.article_list a {
	width:8%;
	margin-right:2%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article_list a.preview{
	width:52%;
	margin-right:5px;
}

.article_list {
	float:right;
	display:block;
	padding-left:1em;
	width:50%;
	clear: none;
}

.category {
	padding:0;
	float:left;
	display:block;
	width:45%;
	margin:0;	
	clear: none;
}

.category input[type=text], 
.article input[type=text], 
.article input[type=checkbox]{
	width:100%;
	padding: 0.5em 0;
	margin: 0.25em 0;
	margin-bottom:0.5em;
}

.article input[type=checkbox] {
	width:auto;
	display:block;
}

.category textarea,
.category textarea {
	width:100%;
}



.article_list .show {
	color: green;
}
.article_list .hide {
	color: red;
}

.article_list .show:hover {
	color: red;
}
.article_list .hide:hover {
	color:green;	
}


.edited {
	background-color: #DFD;
}

.ui-widget {
    font-size:80%;
}