@CHARSET "UTF-8";

/* This file contains basic styles for document*/

body{
	margin:0;
	padding:0;
	/*background-color: #EDEDED;*/
	background-image: url("images/shattered_small.png");
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
	margin:0;
	font-weight: normal;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #003366;
}

a {
	color: #00AEEF;
}
a:hover {
	color: #FF7700;
}

/* Main wrapper wich is hold all contents*/
.wrapper{
	margin: 0 auto;
	margin-bottom: 10em;
	max-width: 1000px;
	background-color: #FAFDFA;
	border: solid 2px #003366; 
	border-top:none;
	box-shadow:0px 0px 12px silver;
	border-radius: 0 0 12px 12px;
	padding: 0 0 1em;
}

/*All what is below menu*/
.content{
	padding: 0 2em;
}

.plain_text{
	font-family: Verdana,Arial;
	paddinf: 1em 0 1em 0;
}


/*img style in text*/
.plain_text img{
	display: block;
	border-radius: 6px;
	border: solid 3px silver;
	max-width:500px;
	max-height:400px;
	margin: 1em 0 2em 0
}

.plain_text b{
	color: darkblue;
}

.lessons_list {
	display:block;
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	float: left;
	font-size: 1.1em;
}


.mtyp {
	font-weight:bold;
	color: #606;
	font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}

.mtag {
	font-weight:bold;
	color: #069;
	font-size:14px;
	font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}

/*Notes, for text that is for info only*/
.note{
	background-color: #DFD;	
	padding:1em;
	margin: 1em 0;
	border:solid thin silver;
	border-radius:6px;
}

.highlight {
	background-color: white;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}




.syntaxhighlighter  {
    border: solid 1px silver;
    padding: 2px;
}    

.toolbar {
    display: none;
}

/* Style for immitating console in DIV block*/
.console {
  font-family:Courier New;
  color: #CCCCCC;
  background: #000000;
  border: 3px double #CCCCCC;
  padding: 5px;
  margin: 1em 0;
  line-height:1.3em;
}

/*Style for immitating console in SPAN block*/
.consoleIn {
  font-family:Courier;
 color: #CCCCCC;
  background: #000000;
  padding: 2px;
}

.text {
  font-family:Times New Roman;
  font-size: 16px;
  background-color: #FFFFF8;
  color: #000;
  border: 3px double #CCCCCC;
  padding: 1em;
  margin: 1em 0;
  line-height:1.3em;
}

.clear {
	clear:both;
}

.trace {
	display: black;
	width: 300;
	height: auto;
	padding: 2em;
	float:left;
	margin: 1em;
	border-radius: 16px 0 0 0;
	border: 2px solid gray;
	z-index: 100;
	background-color: Orange;
	overflow: scroll;
}

.footer {
	height:12px;
	margin-top:1em;
	background-color: #003366;
}
                 