/* This file contains styles for menu*/

.nav {
	float:left;
	font-size:1em;
	width:100%;
	background:#EEE;
	border-bottom: 1px solid #ccc;  	
	margin-bottom: 10px;
}

.nav .mail {
	float: right;
	padding-right:16px;
	padding-top: 12px;
	color: gray;
}

.nav>.mail>a {
	color: silver;	
}

.nav>.mail>a:hover {
	color: #003366;	
}

.nav>ul {
	list-style: none;
	padding-left:0;
	margin:0;
}


.nav>ul>li { 
	float: left; 
	position: relative; 
	border-right: 1px solid #ccc; 
	text-align: center;
}

.nav>ul>li a{ 
	padding:0.8em 1em; 
	text-align:left;
	display: block; 
	color: #FF7700;
}

.nav>ul ul { 
	 border: none; 
	 display:none;
	 
	 padding:0;
	 margin:0;
	 
	 list-style:none;
	 position:absolute;
	 
	 width:160px;
	 font-size:0.9em;
	 
	 box-shadow:0px 2px 2px gray;
	 background:#EEE;
	 z-index: 9999;
}

.nav>ul ul li {
	border-top:1px solid #ccc;	
	font-size: 12px;
}


.nav>ul ul li a { 
	padding:8px 8px; 
	display: block; 
	color: #FF7700;
}

.nav>ul a:hover { 
	background:#FAFDFA;
}

.nav>ul  a.active{ 
	background-color: #FAFDFA; 
	color:#003366;
}

.nav>ul a:hover {
	color: #EF00AE;
}


