/* This file contains styles for menu*/

.mainmenu {
float:left;
width:100%;
background:#EEE;
border-bottom: 1px solid #ccc; 
border-right: 1px solid #ccc; 	
margin-bottom: 10px;
}

.menu {
font-size:1em;
list-style: none;
padding-left:0;
margin:0;
}


.menu li { 
float: left; 
position: relative; 
/*border-right: 1px solid #ccc;*/ 
}

.menu li a{ 
padding:0.8em 1em; 
height:17px;
display: block; 
color: #00AEEF;
background:#EEE;
}

.menu li a.selected{ 
	background-color: #FAFDFA;
}

.menu ul li a { 
padding:0.8em 1em; 
height:auto;
display: block; 
color: #00AEEF;
border-bottom:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
background:#EEE;
}

.menu a:hover { 
background:#FAFDFA;
}

.menu li a.gallery {
	width:100px;
	text-align:center;
	text-decoration:underline;
	cursor:pointer;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
}

.menu ul.gallery li a {
	width:100px;
}

.menu li a.excs {
	width:140px;
	text-align:center;
	text-decoration:underline;
	cursor:pointer;	
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
}


.menu ul.excs li a {
	width:140px;
}

.menu ul { 
 border: none; 
 display:none;
 padding:0;
 list-style:none;
 margin:0;
 position:absolute;
 box-shadow:0px 2px 2px gray;
}

.menu a.current{ 
	background-color: #FFF; 
	color:black;
}

.menu a:hover {
	color: #FF7700;
}

.menu .about
{
	width:39px;
	height:17px;
	background-image: url("images/about_button_link.png");
}

.menu .about:hover
{
	background-image: url("images/about_button_active.png");
}

.menu .about.current
{
	background-image: url("images/about_button_active.png");
}
