<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>styles/shCore.css">
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>styles/shThemeDefault.css">
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>styles/main.css">
<script type="text/javascript" src="<?php echo base_url();?>scripts/shCore.js"></script>
<script type="text/javascript" src="<?php echo base_url();?>scripts/shBrushCSharp.js"></script>
<meta charset="utf-8">
<title></title>
</head>
<body>
<div class="wrapper">
<div class="content">
Создадим <b>Windows Form Application</b> 
</div>
</div>
</body>
</html>